<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 1.加载属性文件：db.properties -->
	<context:property-placeholder location="classpath:db.properties"/>
	<!-- 2.扫描所有包中注解 -->
	<context:component-scan base-package="com.jpa"/>
	<!-- 3.加载数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="driverClass" value="${jdbc.driver.class}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	<!-- 4.创建类似属于sqlsessionFactory的对象，用于调用增删改查方法 -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- 4.1：连接数据源 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 4.2：加载开启正向工程的属性标签 -->
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- 1.开启正向工程的标签 -->
				<property name="generateDdl" value="true"/>
				<!-- 2在控制台显示sql语句的标签 -->
				<property name="showSql" value="true"/>
				<!-- 3.告诉HibernateJAP，该项目使用哪个数据库 -->
				<property name="database" value="MYSQL"/>
			</bean>
		</property>
		<!-- 4.3:加载实体类 -->
		<property name="packagesToScan">
			<list>
				<value>com.jpa.pojo</value>
			</list>
		</property>
	</bean>
	<!-- 5.创建事务对象 -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	<!-- 6.加载事务驱动 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>